<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Using OpenLayers with Webpack</title>
    <style>
      @import "node_modules/ol/ol.css";
    </style>
    <style>
      html, body {
        margin: 0;
        height: 100%;
      }
      #map0 {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map0"></div>
    <script src="./bundle.js"></script>
        <script>
        map.show("map0");
        </script>
  </body>
</html>
